.conteiner {
  padding-bottom: 94px;
}
.what-are-we-doing {
  padding-bottom: 94px;
  .title {
    margin-bottom: 50px;
  }
  .list {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .item {
    max-height: 294px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  .text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    text-transform: uppercase;
    color: $text-dark-theme-color;
  }
  // позиционирование чем мы занимаемся
  .img-wrapew {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 15px;
  }
}

// .what-are-we-doing-title {
//   margin-bottom: 50px;
// }

// .what-are-we-doing-list {
//   display: flex;
//   text-align: center;
//   justify-content: center;
// }

// .what-are-we-doing-item {
//   max-height: 294px;
// }

// .what-are-we-doing-item:not(:last-child) {
//   margin-right: 30px;
// }

// .what-are-we-doing-text {
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.3;
//   text-transform: uppercase;
//   color: $text-dark-theme-color;
// }

// позиционирование чем мы занимаемся
// .what-are-we-doing-img-wrapew {
//   position: relative;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
//   margin-bottom: 15px;
// }

.overlay-text {
  position: absolute;
  padding-top: 27px;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
